name: deploy-app

on:
  push:
    branches: ["main"]
    paths:
      - "local_app/**"
      - "Dockerfile"
      - "requirements.txt"
      - "README.md"
  workflow_dispatch: {}

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Azure Login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
      - name: Build and Deploy to Container Apps
        uses: azure/container-apps-deploy-action@v2
        with:
          resourceGroup: ${{ secrets.AZURE_RG }}
          containerAppName: ${{ secrets.AZURE_CONTAINERAPP_NAME }}
          registryUrl: ${{ secrets.ACR_LOGIN_SERVER }}
          registryUsername: ${{ secrets.ACR_USERNAME }}
          registryPassword: ${{ secrets.ACR_PASSWORD }}
          imageToBuild: ${{ secrets.ACR_LOGIN_SERVER }}/looks-api:${{ github.sha }}
          dockerfilePath: Dockerfile
